# Python artifacts
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Flask instance/config
instance/
*.log

# Sensitive files
credentials.json
.env

# Editor/IDE junk
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.vscode/
.idea/

# Galerie – ignoruj obsah, ale ponech složku
static/gallery/*
!static/gallery/.gitkeep
